img.avatar { 
  position: relative;
  width:40px;
  height:40px;
  }
  
  img.donut{
  position: absolute;
  right: 35%;
  width:400px;
  height:400px;
  }
  
input[type=submit]:hover {
  background-color: white;
  color: #861A22;
  }
  
  .crecontainera{
      border: #861A22 solid 3px;
      padding: 15px 15px 15px 15px;
      display:table;
      height:100%;
      width: 500px;
      margin: 0 auto;
      font-size: 14pt;
  }
  .crecontainerb{
      display: table-cell;
      vertical-align: middle;
      margin:0 auto;
  }
  img.avatar { float: right; 
    width:40px;
    height:40px;
  }
  
  input[type=submit] {
    background-color: #861A22;
    color: #EACBBB;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: white;
    color: #861A22;
  }
  .c20{
    float:left;
    width: 25%;
  }
  .c80{
    float:left;
    width: 75%;
    }
  .rw:after{
    content:"";
    display: table;
    clear: both;
  }
  
  .text{
      text-align: center;
      margin-bottom: -50px; 
  }
  
  